{% extends "auth_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<title>Sign In</title>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/account/login/?next={{ next }} ">
      <h2 class="inactive underlineHover">Sign In</h2>
    </a>
    <a href="/account/register/?next={{ next }}">
      <h2 class="inactive underlineHover"> Sign Up</h2>
    </a>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">Your username and password didn't match. Please try again.</div>
    {% endif %}

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://i.imgur.com/TUKrkMD.jpg" id="icon" alt="User Icon">
    </div>

    <!-- Login Form -->
    <!-- <form method="post" action="{% url 'login' %}" class="form-signin"> -->
    <form id="login-form" method="post" action="{% url 'logout' %}">
      <h2 class="text-success">Not authorized</h2><br>
      <!-- <form> -->
        <!-- <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" maxlength="50" required> -->
        <!-- <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" maxlength="50" value="login" required>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
        <input type="submit" class="fadeIn fourth" value="login">
        <input type="hidden" name="next" value="{{ next }}">
      </form> -->

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/books">Back to homepage</a>
      </div>

  </div>
</div>



{% endblock %}
