
<!doctype html>
<html>
<head>
    <title>My references list</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
<div>
  <h1>References</h1>
     <h2>Genres</h2>
     <ul>
     {% for genre in genres %}
     <li><a href="genre/{{ genre.pk }}">{{ genre.genres }}</a></li>
     {% endfor %}
     </ul>
     <h2>Authors</h2>
     <ul>
     {% for author in author %}
     <li><a href="author/{{ author.pk }}">{{ author.author }}</a></li>
     {% endfor %}
     </ul>
     <h2>Book Series</h2>
     <ul>
     {% for series in series %}
     <li><a href="series/{{ series.pk }}">{{ series.series }}</a></li>
     {% endfor %}
     </ul>
     <h2>Publishing house</h2>
     <ul>
     {% for pubhouse in pubhouse %}
     <li><a href="pubhouse/{{ pubhouse.pk }}">{{ pubhouse.pubhouse }}</a></li>
     {% endfor %}
     </ul>
     <h2>Languages</h2>
     <ul>
     {% for languages in languages %}
     <li><a href="languages/{{ languages.pk }}">{{ languages.languages }}</a></li>
     {% endfor %}
     </ul>
</div>
</body>
</html>
