    .jumbotron {

             background-color: white;
             text-align: center;
             margin-top: 120px;
         }

    body {

        position: relative;

    }

    #myCards {


        margin-top: 90px;


    }

    #deadBook {

        float: left;
        margin-right: 4px;


    }
    #totalObjects {

      margin-top: 150px;


    }
